ul {
    list-style-type: disc;

}
.card{
    position: relative;
    min-width: 300px;
    border: 1px solid black;
    background-color: black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    width:auto;
    height:100%;
    cursor: pointer;
}
.card>img{
    position: absolute;
    max-width:98%;
    max-height: 90%;
}
.addButton{
    width:3rem;
    height:3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: larger;
    cursor: pointer;
}
.addButton:hover{
    background-color: #007bff;
    color: white;
    box-shadow: black;
}

.card :hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    scale: 1.1;
    transition: 0.2s;
}
