# --- ENVIRONMENT ---
NODE_ENV=local
PORT=3001

# --- DATABASE (Internal Docker Network) ---
# Used by the backend container to find the 'mongodb' service
DB_URL=mongodb://admin:changeme@mongodb:27017/signage?authSource=admin


# --- API & CLIENT ACCESS (External/Browser) ---
LOCALHOST=http://127.0.0.1:3001/
CDN_URL=http://localhost:3001/cdn/

# --- FILE SYSTEM PATHS ---
CDN_PATH=./cdn/
TEMPLATE_PATH=./templates/index-template.html

# --- SECURITY ---
JWT_SECRET=dev_jwt_secret